html {
    height: 100%;
}

body {
    background-image : url('Jupiter.png');
    margin: 0;
}

h1 {
    color: white;
    font-family: 'Bangers', cursive;
    opacity: 1;
    font-size: 47px;

}

input {
    margin: 15px;
    
}

.Center {
    align-items: center;
    
}

.Rectangle {
    
    text-align: center;
    background-color: #00005c;
    opacity: .6;
    padding: 50px;
    margin: 15% 25% 0%;
    /*margin: 25%;*/
    border-radius: 40px;
}

.Username {
    border-radius: 60px;
    width: 100%;
    height: 35px;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    position: relative;
    right: 17px;
}

.Password {
    border-radius: 60px;
    width: 100%;
    height: 35px;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    position: relative;
    right: 17px;
}

.Sign-in {
    border-radius: 10px;
    width: 40%;
    height: 50px;
    margin-top: 10px;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    background-color: #79d70f;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.Register {
    border-radius: 10px;
    width: 40%;
    height: 50px;
    margin-top: 10px;
    font-family: 'Play', sans-serif;
    font-size: x-large;
    background-color: #f3c623;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

form {
    opacity: 1;
    
}
